// =============================================================================
// Collapsible Navigation
// =============================================================================

.collapsible-nav {
  @include tablet {
    flex-direction: row;
  }

  flex-direction: column;
  font-size: $font-size-navigation;
  position: relative;
}

.collapsible-nav-border {
  @include tablet {
    border-top: 0;
  }

  border-bottom: 1px solid var(--color-border-subtle);
  border-top: 1px solid var(--color-border-subtle);
}

.collapsible-nav-toggle {
  @include tablet { display: none; }
  top: calc(45px / 2);
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  padding: 0;
  border: 0;
  background: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: var(--color-text-primary);

  [dir="rtl"] & {
    left: 0;
    right: auto;
  }

  &-icon {
    display: none;
  }

  &[aria-expanded="false"] {
    .chevron-icon {
      display: inline-block;
    }
  }

  &[aria-expanded="true"] {
    .x-icon {
      display: inline-block;
    }
  }

  &:focus {
    outline: none;
    border: 1px solid var(--color-interactive);
  }
}

.collapsible-nav-list {
  @include tablet {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;

  li {
    @include tablet {
      line-height: normal;
      margin-right: 30px;

      [dir="rtl"] & {
        margin-left: 30px;
        margin-right: 0;
      }

      a {
        text-decoration: none;
        padding: 15px 0;
      }
    }

    color: var(--color-text-primary);
    line-height: 45px;
    order: 1;

    a {
      color: var(--color-text-primary);
      display: block;
      transition: color var(--duration-fast) ease;

      &:hover {
        color: var(--color-interactive);
      }
    }
  }

  li:hover {
    @include tablet {
      border-bottom: 4px solid var(--color-border-default);

      a:not([aria-current="page"]) {
        padding: 15px 0 11px 0;
        text-decoration: none;
      }
    }
  }

  li:not([aria-selected="true"]),
  li:not(.current) {
    @include tablet { display: block; }
    display: none;
  }

  li[aria-selected="true"] {
    @include tablet {
      padding: 15px 0 11px 0;
    }
  }

  li[aria-selected="true"],
  li.current {
    @include tablet {
      border-bottom: 4px solid var(--color-interactive);
      order: 1;
    }

    order: 0;
    position: relative;

    a {
      color: var(--color-interactive);
      font-weight: var(--font-weight-medium);
    }
  }
}

.collapsible-nav[aria-expanded="true"] {
  li:not([aria-selected="true"]),
  li:not(.current) {
    display: block;
  }
}
