// =============================================================================
// Split Button
// =============================================================================

.split-button {
  display: flex;
}

.split-button button:hover {
  @extend .button-primary;
}

.split-button button {
  @extend .button;
  background-color: var(--color-interactive);
  border: 0;
  color: var(--color-text-inverse);
  height: 32px;
  line-height: 16px;
  outline-color: var(--color-interactive);
}

.split-button button:not(:only-child) {
  &:first-child {
    [dir="rtl"] & {
      border-left: 1px solid var(--color-text-inverse);
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
    }

    [dir="ltr"] & {
      border-right: 1px solid var(--color-text-inverse);
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }
  }

  &:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    min-width: 26px;
    max-width: 26px;
    padding: 0;

    [dir="rtl"] & {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }

    [dir="ltr"] & {
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
    }
  }
}
