// =============================================================================
// Summary Component
// =============================================================================

zd-summary-block {
    // As the Help Center already provides the base styling in a theme agnostic
    // way, we will only override the colors here.
    background: var(--color-surface-raised);
    border-radius: var(--radius-md);

    [dir="ltr"] & {
        border-left-color: var(--color-interactive);
    }

    [dir="rtl"] & {
        border-right-color: var(--color-interactive);
    }
}
